* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

html {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0;
  padding: 0;
}
.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}
.App p {
  margin-bottom: 50px;
  font-size: 2.4rem;
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: center;
  width: 460px;
}
.dd-wrapper {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  width: 222px;
}
.dd-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 38px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  cursor: default;
  position: relative;
  background-color: #fff;
}
/*
.dd-header:focus{
    border: 2px solid black;
}*/
.dd-header:active {
   border: 1px solid #dfdfdf;
}
.dd-wraper:active {
   border: 1px solid #dfdfdf;
}
.dd-header span {
  margin-right: 20px;
}
.dd-header-title {
  font-weight: 300;
  margin: 2px 20px;
}
.angle-down {
  color: #000;
  margin-right: 20px;
}
.listWrapper{
  position: absolute;
  overflow-y: scroll;
  height: 170px;
  border: 1px solid #dfdfdf;
  border-top: none;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.dd-list{
  z-index: 10;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px -1px #e8e8e8;
  box-shadow: 0 2px 5px -1px #e8e8e8;
  font-weight: 700;
}

.dd-list-item:hover {
    background-color: #cff8ff;
}

.dd-list-item {
  width: 100%;
  font-size: 1.5rem;
  padding: 8px 10px;
  line-height: 1.6rem;
  cursor: default;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 1px solid white;
}
.dd-list-item.selected {
  color: #fff;
  background-color: #c1f7ff;
}
.dd-list-item-on-focus {
  border: 1px solid;
  width: 100%;
  font-size: 1.5rem;
  padding: 8px 10px;
  line-height: 1.6rem;
  cursor: default;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dd-list-item-on-focus:hover {
    background-color: #cff8ff;
}

/*.dd-list-item:hover {*/
  /*border: 1px solid;*/
/*}*/
.dd-wrapper-single {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  width: 265px;
}
.dd-wrapper-single .dd-header {
  border: 1px solid #ccc;
}
.dd-wrapper-single .dd-header .dd-header-name {
  font-weight: 400;
}
.dd-wrapper-single .dd-list {
  border: 1px solid #ccc;
  border-top: none;
}

.selected-item {
 background-color: #00FFFF;
}
input {
    position:absolute;
    width:100%;
    height:100%;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
        -webkit-appearance: initial;
    background-color: initial;
    cursor: default;
    padding: initial;
    border: initial;
    -webkit-writing-mode: horizontal-tb !important;
}

input[type=text] {
  width: 100%;
  padding: 12px 10px;
  box-sizing: border-box;
  font-weight:bold;
  font-size:15px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight:bold;
  font-size:15px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
  font-size:15px;

}
:-ms-input-placeholder { /* IE 10+ */
  font-size:15px;
}
:-moz-placeholder { /* Firefox 18- */
  font-size:15px;
}